body {
  background-color: #080b14;
}
.pie-pagina{
  background-color: #080b14;
  color:#fff;
  width: 100%;
  
}
/*Estilos del footer*/


/*Estilos del navbar*/

/*Estilos de los botones con su hover*/


/*estilos de las cartas*/

/*contenedor cartas principales*/

/*contenedor del formulario*/
