body {
  background-color: #080b14;
}
.pie-pagina{
  background-color: #080b14;
  color:#fff;
  width: 100%;
  
}
/*Estilos del footer*/
.grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  text-align: justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.redes-sociales a{
  display: inline-block;
  width: 70px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 40px;
  text-align: center;
  transition: all 300ms ease;
}
.redes-sociales a :hover{
  color: rgba(255, 23, 23, 0.86)
}
.grupo-2{
  text-align: center;
}
/*Estilos del navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0%;
  background-color: #D3E1E7;
}
/*Estilos de los botones con su hover*/
.navbar__buttons button {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  background-color: transparent;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  padding: 10px 24px;
  margin: 1.5rem 1rem;
  transform: 1000ms;
}
.navbar__buttons button:hover {
  background-color: rgba(231, 9, 9, 0.6);
  transform: 1000ms;
}

.navbar__buttons button:active {
  position: relative;
  top: 1px;
  transform: 1000ms;
}
/*estilos de las cartas*/
.card {
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 500px;
  border-radius: 25px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 25px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 250ms;
}
.card:hover {
  transition: 250ms;
  transform: scale(1.05);
  box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.35);
}
.like {
  width: 50px;
  filter: brightness(100%) contrast(0);
  cursor: pointer;
}
.like:hover {
  filter: none;
}
.like:active {
  position: relative;
  top: 1px;
}
/*contenedor cartas principales*/
.contenedor__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
}
/*contenedor cartas seccion content*/
.cardcontent {
  margin: 1rem 2rem;
}
/*contenedor del formulario*/
.contenedor__form {
  max-width: 650px;
  margin: 4rem auto 4rem auto;
  border-radius: 25px;
  text-align: center;
  color: white;
  background-color: #18203a;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.imagen {
  grid-column: 1 / 2;
  grid-row: 1/6;
  background-image: url("https://i.ibb.co/fSfC93h/deportes.jpg");
  border-radius: 25px 0 0 25px;
  background-size: cover;
  background-position: center;
}
.form {
  grid-column: 2 / 2;
  grid-row: 1 / 6;
}

img {
  width: 100px;
}
.contenedor__form .enviar{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  background-color: transparent;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  padding: 10px 24px;
  margin: 1.5rem 1rem;
  transform: 1000ms;
  background-color: rgba(231, 9, 9, 0.6);
}
.contenedor__form .enviar:hover {
  background-color: black;
  transform: 1000ms;
  color: white;
}

.contenedor__form  .enviar:active {
  position: relative;
  top: 1px;
  transform: 1000ms;
}
.contenedor__form{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.descripcion{
  text-align: justify;
}
a{
  text-decoration: none;
  color: white;
}
textarea{
  height: 70px; 
  overflow-y: auto; 
  resize: none; 
  background-color: rgba(230, 77, 77, 0.6);
  width: 190px;
  border-radius: 25px;
  padding: 7px 10px;
  border: none;
}
select{
  appearance:  none;
  width: 190px;
  text-align: center;
  padding: 7px 10px;
  margin-top: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(231, 9, 9, 0.6);
   color: #fff;
   cursor: pointer;
   font-size: 14px;
   border-radius: 25px;
   border: none;
}
input{
  background-color: rgba(230, 77, 77, 0.6);
  width: 190px;
  border-radius: 25px;
  padding: 7px 10px;
  border: none;
}
@media (max-width: 700px) {
  .grupo-1 {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px){
  .contenedor__form{
    display: flow-root;
  }
  .imagen{
    display: none;
  }
  .img__logo{
    display: none;
  }
  .navbar{
    justify-content: space-between;
  }
  
}